.nav-1 {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.navbar {
    background-color: #FF8C00 !important;
}

.nav-2 {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 5px;
}

.nav-2:hover {
    background-color: #FFA500;
    border-radius: 8px;
}

.custom-margin {
    margin: 5px !important;
}

.font{
    font-size: 18px;
    font-weight: bold;
}

.button {
    background-color: #FF8C00;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.footer {
    font-size: 22px;
    margin-top: 40px;
}

.custom-m {
    width: 250px !important;
}


/* Responsive */
/* carosel */

@media screen and (max-width: 989px) {
    .carosel {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .carosel {
        height: 300px;
    } 
}

@media screen and (max-width: 420px) {
    .carosel {
        height: 200px;
    } 
}
/* card responsive */
@media screen and (max-width: 1199px) {
    .custom-m {
        width: 220px !important;
    } 
}

@media screen and (max-width: 769px) {
    .custom-m {
        width: 215px !important;
    } 
}

@media screen and (max-width: 767px) {
    .custom-m {
        width: 250px !important;
    } 
}

@media screen and (max-width: 520px) {
    .custom-m {
        width: 240px !important;
        margin-left: 10px !important;
    } 
}

@media screen and (max-width: 510px) {
    .custom-m {
        width: 230px !important;
        margin-left: 15px !important;
    } 
}

@media screen and (max-width: 500px) {
    .custom-m {
        width: 220px !important;
        margin-left: 20px !important;
    } 
}

@media screen and (max-width: 490px) {
    .custom-m {
        width: 210px !important;
        margin-left: 20px !important;
    } 
}

@media screen and (max-width: 470px) {
    .custom-m {
        width: 200px !important;
        margin-left: 20px !important;
    } 
}

@media screen and (max-width: 450px) {
    .custom-m {
        width: 190px !important;
        margin-left: 20px !important;
    } 
}

@media screen and (max-width: 430px) {
    .custom-m {
        width: 180px !important;
        margin-left: 20px !important;
    } 
}
@media screen and (max-width: 410px) {
    .custom-m {
        width: 170px !important;
        margin-left: 20px !important;
    } 
}
@media screen and (max-width: 390px) {
    .custom-m {
        width: 160px !important;
        margin-left: 20px !important;
    } 
}
@media screen and (max-width: 370px) {
    .custom-m {
        width: 320px !important;
        margin-left: 20px !important;
    } 
}
@media screen and (max-width: 350px) {
    .custom-m {
        width: 310px !important;
        margin-left: 20px !important;
    } 
}
@media screen and (max-width: 345px) {
    .custom-m {
        width: 300px !important;
        margin-left: 20px !important;
    } 
}

@media screen and (max-width: 335px) {
    .custom-m {
        width: 290px !important;
        margin-left: 20px !important;
    } 
}
@media screen and (max-width: 325px) {
    .custom-m {
        width: 280px !important;
        margin-left: 20px !important;
    } 
}
@media screen and (max-width: 315px) {
    .custom-m {
        width: 270px !important;
        margin-left: 20px !important;
    } 
}


/* Letter Responsive */

@media screen and (max-width: 1198px) {
    .castom-font {
        font-size: 15px !important;
    } 
}

@media screen and (max-width: 365px) {
    .castom-font {
        font-size: 25px !important;
    } 
}

/* button responsive */

@media screen and (max-width: 767px) {
    .button {
        font-size: 15px !important;
    } 
}

@media screen and (max-width: 460px) {
    .button {
        margin-left: 20px;
    } 
}

@media screen and (max-width: 430px) {
    .button {
        font-size: 13px !important;
    } 
}
@media screen and (max-width: 410px) {
    .button {
        font-size: 11px !important;
    } 
}

@media screen and (max-width: 400px) {
    .button {
        font-size: 9px !important;
    } 
}

@media screen and (max-width: 380px) {
    .button {
        font-size: 8px !important;
    } 
}
@media screen and (max-width: 365px) {
    .button {
        font-size: 20px !important;
        margin-left: 55px !important;
    } 
}
@media screen and (max-width: 315px) {
    .button {
        font-size: 20px !important;
        margin-left: 35px !important;
    } 
}





